.task
  display: flex
  justify-content: space-between
  border: 2px solid #00c59e
  margin: 10px 0
  padding: 10px
  .task-actions
    display: flex
  button
    border: 2px solid #00c59e
    font-size: 11px
    text-transform: uppercase
    font-weight: bold
  &.complete
    background: #00c59e
.checkbox-container
  display: block
  position: relative
  padding-left: 35px
  margin-bottom: 12px
  cursor: pointer
  font-size: 22px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0
  .checkmark
    position: absolute
    top: 12px
    left: 7px
    height: 25px
    width: 25px
    background-color: #eee
  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    left: 9px
    top: 5px
    width: 5px
    height: 10px
    border: solid white
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)

  &:hover input ~ .checkmark
    background-color: #ccc
  input:checked ~ .checkmark
    background-color: #2196F3

.checkmark:after
  content: ""
  position: absolute
  display: none