.add-task-form
  display: flex
  height: 40px
  justify-content: center
  input
    width: 70%
    border: 2px solid #00c59e
    border-right: none
    font-size: 14px
    padding-left: 10px
  button
    width: 30%
    border: 2px solid #00c59e
    font-size: 11px
    text-transform: uppercase
    font-weight: bold
::-webkit-input-placeholder
  font-size: 14px